// # Trasactions

// =============================================================================
// Variaveis
// =============================================================================

// =============================================================================
// Placeholders
// =============================================================================

// =============================================================================
// Estilos
// =============================================================================
.transactions {
    width: 100%;
    display: block;
    overflow-x: auto; /* Cria uma barra de rolagem no eixo X */
}
// =============================================================================
// Media Queries
// =============================================================================

// =============================================================================
// Imports
// =============================================================================
@import "_table/_table.scss";