// Componente: Title

.title {
    margin-top: 2.2rem;
    margin-bottom: 0.8rem;
    color: $text-color;
    font-weight: normal;
}

.sr-only {  /* TRICK: esse trick retira o elemento da tela porem nao afeita os motores de busca */
    position: absolute;
    width: 1px;
    height: 1px;
    border: 1px solid #ff0000;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}