// # Header

// =============================================================================
// Variaveis
// =============================================================================

// =============================================================================
// Placeholders
// =============================================================================

// =============================================================================
// Estilos
// =============================================================================
.header {
    background: $bg-header;
    text-align: center;
    padding: 6rem 0 10rem;

    &__logo {
        font-weight: lighter;
        color: #FFFFFF;
    }   
}
// =============================================================================
// Media Queries
// =============================================================================

// =============================================================================
// Imports
// =============================================================================

