//Componente: btn

.btn {

    &--new {
        display: inline-block;
        margin-bottom: 1.8rem;

        color: $color-primary;

        &:hover,
        &:focus {
            color: #3dd705;
        }
    }

    &--cancel {
        text-align: center;
        padding: 10px 0;
        color: #ff0000;
        transition: 0.4s;
        border-radius: 5px;

        &:hover,
        &:focus {
            background: #ff0000;
            color: #ffffff;
        }
    }

    &--save {
        padding: 10px 0;
        background: #3dd705;
        border: none;
        transition: 0.4s;
        cursor: pointer;
        border-radius: 5px;

        &:hover,
        &:focus {
            background: $color-primary;
            color: #ffffff;
        }
    }
}