// # Balance

// =============================================================================
// Variaveis
// =============================================================================

// =============================================================================
// Placeholders
// =============================================================================

// =============================================================================
// Estilos
// =============================================================================
.balance {
    margin-top: -7rem;

    &__title {
        color: #FFFFFF;

        &--only {
            /* TRICK: esse trick retira o elemento da tela porem nao afeita os motores de busca */
            position: absolute;
            width: 1px;
            height: 1px;
            border: 1px solid red;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap;
            border-width: 0;
        }
    }

    &__card {
        background: #FFFFFF;
        padding: 1.2rem 2rem;
        border-radius: 0.25rem;
        margin-bottom: 2rem;
        color: $color-secondary;

        &-title {
            font-weight: normal;
            font-size: 1rem;

            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-text {
            font-size: 2rem;
            line-height: 3rem;
            margin-top: 1rem;
        }

        &--total {
            background: #49AA26;
            color: #FFFFFF;
        }
    }
}
// =============================================================================
// Media Queries
// =============================================================================


@media screen and (min-width: 800px) {
    .balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }   
}

// =============================================================================
// Imports
// =============================================================================

