// # Balance

// =============================================================================
// Variaveis
// =============================================================================

// =============================================================================
// Placeholders
// =============================================================================

// =============================================================================
// Estilos
// =============================================================================
.balance {
    margin-top: -8rem;

    &__title {
        color: #FFFFFF;
    }

    &__card {
        background: #FFFFFF;
        padding: 1.2rem 2rem;
        border-radius: 0.25rem;
        margin-bottom: 2rem;
        color: $color-secondary;
    }
}
// =============================================================================
// Media Queries
// =============================================================================

// =============================================================================
// Imports
// =============================================================================

