// # Variaveis

// =============================================================================
// Variaveis
// =============================================================================
$bg-primary: #f0f2f5;
$bg-header: #2D4A22;

$color-secondary: #363f5f;

// =============================================================================
// Placeholders
// =============================================================================

// =============================================================================
// Estilos
// =============================================================================

// =============================================================================
// Media Queries
// =============================================================================

// =============================================================================
// Imports
// =============================================================================

