// # Variaveis

// =============================================================================
// Variaveis
// =============================================================================
$color-primary: #2D4A22 !global;

$text-color: #363f5f !global;

$bg-primary: #f0f2f5 !global;
// =============================================================================
// Placeholders
// =============================================================================

// =============================================================================
// Estilos
// =============================================================================

// =============================================================================
// Media Queries
// =============================================================================

// =============================================================================
// Imports
// =============================================================================

